@import "mixin";
@import "var";
@import "normalize";
@import "carousel";
// @import "grid";
// @import "input-fields";
/* ==========================================================================
   Start of base Webflow CSS - If you're looking for some ultra-clean CSS, skip the boilerplate and see the unminified code below.
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.list-unstyle {
  list-style: none;
  margin-top: 30px;
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.w-hidden {
  display: none;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  &[href-disabled] {
    color: white;
    text-decoration: none;
  }
}

.card {
  .card-image {
    cursor: pointer;
    .card-title {
      position: relative;
      z-index: 3;
      width: 100%;
    }
    &:after { 
      content:'\A';
      display: block;
      position: absolute;
      z-index: 2;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity: 1;
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
    }
    &:hover {
      &:after {
        opacity: 0;
      }
    }
  }
}

input.w-button {
  -webkit-appearance: button;
}

html[data-w-dynpage] [data-w-cloak] {
  color: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 44px;
  line-height: 44px;
  margin-top: 20px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #0082f3;
  text-decoration: underline;
  &:focus {
    outline: 0;
  }
}

blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 40px;
}

ol[type="1"] { 
  line-height: 24px;
  > li {
    margin-top: 10px;
  }
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .w-row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.w-row {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  .w-row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
  .w-hidden-main {
    display: inherit !important;
  }
  .w-hidden-medium {
    display: none !important;
  }
  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .w-hidden-main, .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: none !important;
  }
  .w-row, .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
  .w-hidden-main, .w-hidden-medium, .w-hidden-small {
    display: inherit !important;
  }
  .w-hidden-tiny {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] {
    .w-dropdown, .w-dropdown-toggle {
      display: block;
    }
    .w-dropdown-list {
      position: static;
    }
  }
}

@import 'nav';

.w-tabs {
  position: relative;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.w-tab-menu {
  position: relative;
}

.w-tab-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 9px 30px;
  text-align: left;
  cursor: pointer;
  color: #222;
  background-color: #ddd;
  &.w--current {
    background-color: #c8c8c8;
  }
}

.w-tab-content {
  position: relative;
  display: block;
  overflow: hidden;
}

.w-tab-pane {
  position: relative;
  display: none;
}

.w--tab-active {
  display: block;
}

@media screen and (max-width: 479px) {
  .w-tab-link {
    display: block;
  }
}

.w-ix-emptyfix:after {
  content: "";
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.w-dyn-empty {
  padding: 10px;
  background-color: #ddd;
}

/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */

body {
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.5em;
  text-indent: 1.5em;
  &.no-indent {
    text-indent: 0;
  }
  &.margin-bottom-5 {
    margin-bottom: 5px;
    margin-top: 20px;
  }
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #3b99d9;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: black;
  }
  &.w--current {
    background-color: #2e80b6;
  }
  &.white {
    background-color: white;
    color: black;
    &:hover {
      background-color: rgba(255, 255, 255, 0.77);
    }
  }
  &.black {
    background-color: #404047;
    &:hover {
      background-color: #1db0fc;
    }
    &.with-field {
      width: 22%;
      margin-left: 2%;
      float: left;
    }
  }
  &.full-width {
    display: block;
    width: 100%;
    background-color: #3b99d9;
  }
  &.small {
    padding: 7px 12px;
    background-color: #3b99d9;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    &:hover {
      background-color: #2c74a4;
    }
  }
  &.tab {
    margin-right: 8px;
    margin-left: 8px;
    background-color: #bfbfbf;
    &:hover {
      background-color: #7e7e7e;
    }
    &.w--current {
      background-color: #3b99d9;
    }
  }
}

.navigation-link {
  &:hover {
    color: #006dc7;
  }
  &.white {
    color: white;
  }
}

.navigation-bar {
  margin-top: 45px;
  text-align: center;
  &.dark {
    background-color: #5d5d5d;
  }
  &.top {
    margin-top: 58px;
    margin-bottom: 124px;
    border-radius: 5px;
    background-color: white;
  }
}

.navigation-menu {
  &.left {
    float: left;
  }
  &.on-bottom {
    float: none;
    text-align: center;
  }
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
  &.right {
    float: right;
  }
  &.on-top {
    display: block;
    float: none;
    text-align: center;
  }
  &.white {
    color: white;
  }
  &.left-spacing {
    margin-left: 15px;
    color: white;
  }
  &.left {
    margin-left: 16px;
  }
}

.section {
  position: relative;
  padding-right: 2.5%;
  padding-left: 2.5%;
  background-color: white;
  &.centered {
    text-align: center;
  }
  &.accent {
    background-color: #f3f3f3;
  }
  &.dark {
    background-color: #5d5d5d;
    color: white;
  }
}

.hero-slider {
  height: 400px;
  background-color: #5d5d5d;
  color: white;
}

// .slide {
//   padding-top: 126px;
//   padding-right: 85px;
//   padding-left: 85px;
// }

.header-section {
  padding-top: 76px;
  padding-bottom: 76px;
  text-align: center;
}

.page-heading {
  margin-top: 0px;
  margin-bottom: 7px;
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  line-height: 70px;
  text-transform: uppercase;
}

.page-subheading {
  font-family: Montserrat, sans-serif;
  color: #ccc;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.align-right {
  text-align: right;
}

.white-box {
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

.fixed-image-section {
  padding-top: 104px;
  padding-bottom: 104px;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png);
  background-position: 50% 50%;
  background-size: 125px;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
  &.centered {
    text-align: center;
  }
}

.slider-navigation {
  padding-top: 0px;
  font-size: 9px;
}

.slider-icon-circle {
  width: 50px;
  height: 50px;
  padding: 6px;
  font-size: 33px;
}

.hero-subheading {
  margin-bottom: 18px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
  &.centered {
    text-align: center;
  }
}

.main-container {
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
}

.form-label {
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

.section-subheading.center {
  font-size: 20px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
  &.centered {
    text-align: center;
  }
}

.form-field {
  min-height: 45px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: rgba(64, 64, 71, 0.29) 0px 0px 0px 1px;
  &.text-area {
    min-height: 110px;
  }
  &.with-button {
    width: 75%;
    float: left;
  }
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.picture-border {
  border: 5px solid white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
}

.round-image {
  border-radius: 100px;
}

.social-icon-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 3px;
  opacity: 0.9;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  &:hover {
    opacity: 0.37;
  }
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.hero-with-nav {
  background-color: #d4d4d4;
}

.footer {
  padding-top: 41px;
  padding-bottom: 41px;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  text-align: center;
  &.center {
    text-align: center;
  }
}

.float-right {
  float: right;
}

.footer-text {
  margin-top: 8px;
  font-family: Montserrat, sans-serif;
  color: #a8a8a8;
  font-size: 13px;
  text-transform: uppercase;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #3b99d9;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.sidemenu-wrapper {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
}

.sidemenu-title {
  margin-bottom: 10px;
}

.sidemenu-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #8f8f8f;
  text-decoration: none;
}

.grid-image {
  margin-bottom: 19px;
}

.info-wrapper {
  margin-bottom: 14px;
}

.info-icon {
  float: left;
}

.info-text {
  margin-left: 34px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.74);
  text-decoration: none;
  &:hover {
    color: #3b99d9;
  }
  &.with-icon {
    margin-left: 30px;
  }
}

.hero-title-wrapper {
  margin-bottom: 155px;
}

.icon-left {
  padding: 6px;
  float: left;
  color: #919191;
}

.text-right {
  margin-left: 49px;
}

.left-navigation {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #d4d4d4;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.content {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 80%;
  float: left;
}

.social-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.main-image {
  margin-bottom: 39px;
}

.byline-wrapper {
  margin-bottom: 25px;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.byline-link {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #ccc;
  text-decoration: none;
  &:hover {
    color: #333;
  }
}

.byline-text {
  display: inline-block;
  margin-right: 5px;
  font-family: Montserrat, sans-serif;
}

.byline-location {
  display: inline-block;
}

.blog-content {
  display: block;
  width: 65%;
  margin-right: auto;
  margin-bottom: 52px;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
  h1, h2 {
    font-weight: 400;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 20px;
    &:first-of-type {
      text-indent: 1.5em;
    }
  }
  h6 {
    text-transform: uppercase;
  }
  @media (max-width: 479px) {
    ol {
      margin-left: -20px;
    }
  }
}

.blog-post {
  margin-bottom: 100px;
}

.about-content {
  display: block;
  max-width: 550px;
  margin-right: auto;
  margin-bottom: 51px;
  margin-left: auto;
}

.about-photo {
  display: block;
  width: 42%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  border-radius: 50%;
}

.about-title {
  margin-bottom: 25px;
  text-align: center;
}

.photo-item {
  display: inline-block;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo {
  float: left;
}

.blog-home-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #303030;
  text-decoration: none;
  &:hover {
    opacity: 0.82;
  }
}

.blog-name {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 53px;
  line-height: 57px;
  letter-spacing: 1px;
  &:hover {
    color: #6d6d6d;
  }
}

.link-to-page {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #303030;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #d4d4d4;
  }
}

.blog-headline {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.heading-wrapper {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.circle {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 14px;
  background-color: #e64c40;
}

.post-heading {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.category-heading {
  margin-bottom: 39px;
  text-align: center;
}

.blog-list {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 53px;
  margin-left: auto;
}

.all-caps-heading {
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
}

.blog-item {
  padding-top: 31px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-text {
  text-align: center;
  p {
    margin-bottom: 10px;
  }
}

.post-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-decoration: none;
  &:hover {
    opacity: 0.85;
  }
}

.empty-state {
  margin-bottom: 54px;
  padding-top: 29px;
  background-color: #20ac99;
  color: white;
  text-align: center;
}

.inline-heading {
  display: inline-block;
}

@media (max-width: 991px) {
  .hamburger-button {
    &.left {
      float: left;
    }
    &.white {
      color: white;
    }
  }
  .left-navigation {
    width: 100%;
    height: auto;
    float: none;
  }
  .logo-link {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .main-image {
    margin-bottom: 35px;
  }
  .blog-content {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    margin-top: 21px;
  }
  .brand-link {
    &.on-top {
      float: left;
    }
    &.left-spacing {
      padding-left: 0px;
    }
  }
  .header-section {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .main-image {
    margin-bottom: 34px;
    &.main-image-bottom-zero {
      margin-bottom: 10px;
    }
    &.main-image-top-margin {
      margin-top: 30px;
    }
  }
  .blog-content, .link-to-page, .heading-wrapper {
    width: 80%;
  }
  .post-heading {
    font-size: 25px;
    line-height: 29px;
  }
}

@media (max-width: 479px) {
  .blog-home-link {
    img {
      max-width: 180px;
    }
  }
  .blog-content {
    width: 90%;
  }
  .blog-post {
    margin-bottom: 54px;
  }
  .link-to-page, .heading-wrapper {
    width: 90%;
  }
  .post-heading {
    font-size: 24px;
  }
}
.text-center {
  text-align: center;
  text-indent: 0;
}
h1 a {
  color: #303030;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  &:hover {
    color: #d4d4d4;
  }
}
.text-padding-50 {
  @media (min-width: 600px) {
    padding: 0 20px;
  }
  @media (min-width: 991px) {
    padding: 0 50px;

  }
}
.margin-top {
  margin-top: 20px;
}

.photo-author {
  font-size: .75em;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  display: block;
  text-align: right;
  color: #ccc;
  font-weight: 100;
  font-family: Roboto;
  text-decoration: none;
  top: -12px;
  @media (min-width: 768px) {
    top: -36px;
  }
  &:hover {
    color: #aaa;
  }
}

.nowrap {
  white-space: nowrap;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #303030;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent
}
// Remove Focus Boxes
select:focus {
  outline: none;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}
.flow-text {
  text-indent: 0;
  &.sm-text {
    font-size: 0.9em;
  }
}