.nav-link {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 7px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #b9b9b9;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  &:hover, &.w--current {
    color: #303030;
  }

  &.w--current:hover {
    cursor: pointer;
  }
}

.nav-menu {
  float: none;
}

.w-nav {
  position: relative;
  background: #ddd;
  z-index: 1000;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    text-decoration: none;
    color: #222;
  }
  &.w--current {
    color: #0082f3;
  }
}

.w-nav-menu {
  position: relative;
  float: right;
}

.w--nav-menu-open {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #c8c8c8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}

.w--nav-link-open {
  display: block;
  position: relative;
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  .w--nav-menu-open {
    top: 0;
  }
}
.w-nav {
  &[data-animation="over-left"] {
    .w-nav-overlay {
      width: auto;
      right: auto;
      z-index: 1;
      top: 0;
    }
    .w--nav-menu-open {
      right: auto;
      z-index: 1;
      top: 0;
    }
  }
  &[data-animation="over-right"] {
    .w-nav-overlay {
      width: auto;
      left: auto;
      z-index: 1;
      top: 0;
    }
    .w--nav-menu-open {
      left: auto;
      z-index: 1;
      top: 0;
    }
  }
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.w--open {
    background-color: #c8c8c8;
    color: white;
  }
}

.w-nav[data-collapse="all"] {
  .w-nav-menu {
    display: none;
  }
  .w-nav-button {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] {
    .w-nav-menu {
      display: none;
    }
    .w-nav-button {
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] {
    .w-nav-menu {
      display: none;
    }
    .w-nav-button {
      display: block;
    }
  }
  .w-nav-brand {
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] {
    .w-nav-menu {
      display: none;
    }
    .w-nav-button {
      display: block;
    }
  }
}