

  $primary-color: color("materialize-red", "lighten-2") !default;
  $primary-color-light: false !default;
  $primary-color-dark: false !default;
  $secondary-color: #26a69a !default;
  $success-color: color("green", "base") !default;
  $error-color: color("red", "base") !default;

  
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;