include _var.pug
doctype html
include _head.pug
body
	.w-section.header-section
		.w-container
			case lang
				when "en"
					a.w-inline-block.blog-home-link(href="/en/")
						img(src='/img/logo_gray.svg', width='400')
				when "ru"
					a.w-inline-block.blog-home-link(href="/ru/")
						img(src='/img/logo_gray.svg', width='400')
				default
					a.w-inline-block.blog-home-link(href="/")
						img(src='/img/logo_gray.svg', width='400')
		.navigation-bar
			block menu
	.w-section.section
		.w-container
			.w-dyn-list.content-wrapper
				.w-dyn-items
					.w-dyn-item.blog-post
						block content
	.w-section.footer
		.w-container
			div
				block footer_link
	include _google_analytics.pug
