script(type="text/javascript").
	$(function(){
		var url = '/subscribe.php',
			$form = $('.js-join-form'),
			$name = $('#name'),
			$email = $('#email');
			$sendBtn = $('.js-send'),
			$progress = $form.find('.progress');

		$name.on('keyup change', validate);
		$email.on('keyup change', validate);
		validate();

		$('.js-join').click(function(){
			$form.slideToggle();
		});

		$form.on('submit', function(){
			if ($name.val() != '' && $email.val() != '') {
				subscribe($name.val(), $email.val());
			}
			return false;
		});

		function validate(){
			if ($name.val().length > 1 && $email.val().length > 5) {
				$sendBtn.removeAttr('disabled');
			} else {
				$sendBtn.attr('disabled', 'disabled');
			}
		}

		function subscribe(name, email){
			$progress.fadeIn();
			$.post(url, {name: name, email: email})
				.done(function(data){
					console.log( "Data Loaded: ", data );
					$progress.fadeOut();
					if (data && data.success) {
						$form.find('.input-field').fadeOut('slow');
						$form.find('.js-success').fadeIn();
						setTimeout(function(){
							$form.remove();
						}, 5000);
					}
				})
				.fail(function(e){
					$progress.fadeOut();
					console.log( "fail: ", e );
					$form.find('.input-field').fadeOut();
					$form.find('.js-error').fadeIn();
				});
		}
	});