.row
	p.text-center
		span.waves-effect.waves-light.btn.js-join.grey.darken-4 Dołącz do nas
.row
	form.col.s12.js-join-form(style="display: none")
		.row

			.s12
				p.text-center.flow-text.sm-text
					| Nie przegap oferty o nowych wyjazdach, razem weselej!
				p.text-center.flow-text.sm-text.js-success.green-text(style="display: none")
					| Dziękujemy że zapisałeś się.
				p.text-center.flow-text.sm-text.js-error.red-text(style="display: none")
					| Coś poszło nie tak, proszę <a href="mailto:info@trailruncamp.pl">powiadom nas o tym</a> 
			.progress(style="display: none")
				.indeterminate
			.input-field.col.l3.m12.s12
				input#name.validate(type="text" pattern=".{2,}")
				label(for="first_name") Imię
			.input-field.col.l6.m12.s12
				input#email.validate(type="email")
				label(for="email") Email
			.input-field.col.l3.m12.s12.text-center
				input.js-send.btn.grey.darken-4(type="submit" disabled="disabled" value="wyślij")
include _subscribe_js.pug