extends _layout.pug

block menu
	a.nav-link(href='onas.html') O nas
	a.w--current.nav-link(href='gediminas_grinius.html') Gediminas Grinius
	a.nav-link(href='regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС

block content
	a.w-inline-block.post-link
		img.main-image(src='img/gediminas_vibram_profile_blur.jpg')
	.heading-wrapper
		h1.blog-headline Kim jest Gediminas Grinius?
	.blog-content

		p Ostatnio ten litewski ultra biegacz startuje pod rząd w wielu wymagających zawodach bez żadnych poważnych problemów. O jego poziomie może powiedzieć nawet ta mała część wyników z ostatnich 3 lat:
		
		strong 2016
		ul
			li 2 miejsce w Transgrancanaria Ultra
			li 3 miejsce w Vibram Hong Kong 100
			li Jeszcze w bieżącym roku Gediminas planuje startowac w Lavaredo Ultra Trail, Ultra-Trail du Mont-Blanc i Grand Raid Reunion.
		
		strong 2015
		ul
			li 2 miejsce w Ultra Trail World Tour 2015
			li 4 miejsce Western States Endurance Run
			li 1 miejsce i rekord trasy Ultra-Trail Mt Fuji (UTMF)
			li 1 miejsce i rekord trasy Transgrancanaria Ultra
		
		strong 2014 
		ul
			li 3 miejsce w Ultra-Trail World Tour
			li 4 miejsce Grand Raid Reunion
			li 5 miejsce Ultra-Trail du Mont-Blanc
			li 3 miejsce Lavaredo Ultra Trail
		br
		| Cała lista osiągnięć na stronie 
		a(href="http://www.i-tra.org/community/gediminas.grinius/136586/") i-tra.org

block footer_link
	include _footer_link_pl.pug