extends _layout.pug

block menu
	a.nav-link(href='/onas.html') O nas
	a.nav-link(href='/regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.w--current.nav-link(href='/gran_canaria_camp.html') Gran Canaria
block content
	a.w-inline-block.post-link
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/tejeda.jpg')
			span.photo-author Fot. David Blas/Flickr
	br
	br
	.heading-wrapper
		h1.blog-headline 
			| OBÓZ BIEGOWY NA GRAN CANARII
			br
			strong 14-24 LUTEGO 2017
	.blog-content
		br
		h3 Obóz biegowy na wyspach Kanaryjskich jest przeznaczony dla biegaczy o różnym poziomie sprawności fizycznej. Program jest odpowiedni zarówno dla tych, którzy przygotowują się do udziału w wyścigu Transgrancanaria, jak i dla tych, którzy chcą aktywnie spędzić wakacje na wyspie!
		br
		p.text-padding-50
			strong W ofercie:
			br
			| - transport z lotniska do domu El Majada;
			br
			| - zakwaterowanie w bardzo przytulnym domku położonym na 1100 m.n.p.m.;
			br
			| - pełne wyżywienie
			br
			| - poranny rozruch (na życzenie);
			br
			| - treningi 2 razy dziennie;
			br
			| - regeneracja po treningu (rozciąganie z elementami jogi);
			br
			| - rekonesans trasy Ultra Trail TransGranCanaria;
			br
			| - transport na lotnisko;
			br
			| - zwiedzanie atrakcyjnych miejsc.
			br
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/beachs.jpg')
		h3
			strong Gdzie będziemy mieszkać:
		p Dom El Majadal w San Mateo znajduje się 1 km od narodowego zamku Tejeda, a także kilka kilometrów od miasta Tejeda, które jest położone niemal na środku wyspy. Z domu roztacza się piękny widok na Roke-Nublo — główny symbol wyspy, czyli wulkaniczną skałę o wysokości 1813m.
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/house1.jpg')
			img.main-image.main-image-bottom-zero(src='/img/balcony.jpg')
		ul
			li Dom (250 m2) składa się z 5 sypialni, 3 łazienek, osobnej kuchni.
			li Wnętrze: kominek, tv, ogrzewanie elektryczne, suszarka do włosów. 
			li Kuchnia: zmywarka, lodówka, piekarnik, kuchenka mikrofalowa, lodówka, żelazko, ekspres do kawy, płyta kuchenna, toster, czajnik, itp
			li Dodatkowo: zewnętrzny grill, parking, 16000m2 ogród i taras 80m2.
			br
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/house.jpg')
			img.main-image.main-image-bottom-zero(src='/img/livingroom.jpg')
		h3
			strong Gdzie będziemy biegać
		p Razem z Wami nauczymy się trasy Transgrancanaria Advanced, a także i wielu innych szlaków turystycznych. Istnieją specjalne mapy szlaków turystycznych Gran Canarii, a na wyspie wszystko jest oznakowane tak, że nikt się nie zgubi!
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/grancanaria_mapa.jpg')
			img.main-image.main-image-bottom-zero(src='/img/routes.jpg')
			span.photo-author Fot. Alastair Dixon/Flickr
		h3
			Strong Gdzie będziemy relaksować
		p Plaże Gran Canarii są bardzo zróżnicowane. Są plaże przy wydmach, których piasek jest przywiany prosto z Sahary, są też "czarne" plaże z czarnym piaskiem powstałym ze skał wulkanicznych. Można też jeszcze medytować w jaskiniach lub w słynnym ogrodzie kaktusów.
		p Temperatura w lutym od +22  w górach do +25 na południu wyspy. Idealne miejsce na połączenie treningu i relaksu!
		p.text-center
			img.main-image.main-image-bottom-zero.main-image-top-margin(src='/img/24572613593_a7a6fc020f_b.jpg')
			span.photo-author Fot.Henry Solic/Flickr
			img.main-image.main-image-bottom-zero(src='/img/kaktusy.jpg')
			span.photo-author Fot. kakteenklaus/Flickr
		h3
			Strong Ile kosztuje 
		ul
			li Zgłoszenie z zaliczką w wysokości 25%(250 euro), calość 750 euro;
			li Cena za dzień 75 euro (można wyjechać wcześniej lub zostać dłużej).
			li Osoba towarzysząca cena za dzień 70 euro.
			li Cena nie zawiera biletu lotniczego.
		p.margin-top Zapraszamy do kontaktu przez <a href="mailto:info@trailruncamp.pl">e-mail</a>, <a href="tel:+48 534 472 533">telefon (+48 534 472 533)</a> lub <a href="https://www.facebook.com/trail.run.camp">facebook</a>.
		include _subscribe_pl.pug
		br
		img.main-image.main-image-bottom-zero.main-image-top-margin(src='/img/morning.jpg')

block footer_link
	include _footer_link_pl.pug