extends _layout.pug

block head
	include _head.pug
	include _var.pug

block menu
	a.nav-link(href='onas.html') O nas
	a.nav-link(href='regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/gran_canaria_camp.html') Gran Canaria

block content

	.row
		.s12.col
			a.w-inline-block.post-link
				img.main-image(src='/img/6483150051_65eddcc8d8_b.jpg')
		.s12
			.heading-wrapper
				h1.blog-headline
					a(href="/gran_canaria_camp.html")
						| Obóz biegowy na wyspach Kanaryjskich
						br
						strong 14-24 lutego 2017
				p.text-center Dwa treningi dziennie, do tego sumienne rozciąganie z elementami jogi, bieganie po trasie TransGranCanarii, zwiedzanie unikalnych atrakcyjnych miejsc i mieszkanie w przytulnym domku <span class="nowrap">położonym na 1100 m n.p.m.</span>

			.heading-wrapper
				h1.blog-headline(style="margin-top: 40px; margin-bottom: 10px;") Planujemy jeszcze:
		.s12.m6.col
			a.card(href="/peniny042017.html")
				.card-image
					img.main-image.image-overlay(src='/img/peniny_i_viola_sm.jpg')
					span.card-title.text-center 15-23 Kwietnia, Polska (Szczawnica)
		.s12.m6.col
			a.card(href="/lavaredo062017.html" title="Włochy Dolomity Lavaredo")
				.card-image
					img.main-image.image-overlay(src='/img/it_sm.jpg')
					span.card-title 13-24 Czerwca, Włochy (Dolomity)
		.clearfix
		.s12.m6.col
			a.card(href="/utmb082017.html")
				.card-image
					img.main-image.image-overlay(src='/img/fr.jpg')
					span.card-title 24 Sierpnia - 3 Września, Francja (Alpy)
		.s12.m6.col
			a.card(href="/turkey102017.html")
				.card-image
					img.main-image.image-overlay(src='/img/tr.jpg')
					span.card-title 13-23 Pazdziernika, Turcja (Kapadocja)

	include _subscribe_pl.pug

block footer_link
	include _footer_link_pl.pug
