extends _layout.pug

block head
	include _head.pug
	include _var.pug

block menu
	a.nav-link(href='onas.html') O nas
	a.nav-link(href='regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/pl/gran_canaria_camp.html') Gran Canaria

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/it_md.jpg')
	.heading-wrapper
		h1.blog-headline Aktywny urlop w Dolomitach!<br>
			| 13-24 Czerwca, Włochy
		p.text-center(style="margin-top: -20px;") (Wstępna propozycja)
	.blog-content
		p Obóz odbędzie się 10 dni przed startem <a href="http://www.ultratrail.it/en/" title="Lavaredo Ultra Trail 120 km">Lavaredo Ultra Trail</a>. Czyli jest to świetny sposób, aby nauczyć się trasy dla tych, którzy tam nie byłi i będzie uczestniczyli w zawodach, lub kto chce poprostu fajnie spędzić czas razem z nami. Znajdować się będziemy w rejonie Cortina d ' Ampezzo.

		p Oferujemy:<br>
			| - transport z/do Warszawy i na miejscu obozu;
			br
			| - nocleg z pełnym wyżywieniem;
			br
			| - treningi + porady doświadczonych zawodników
			br
			| - ciekawe szlaki i wspaniałe widoki
			br
			| - program rozrywkowy.

		p Ceny i bardziej dokładne warunki wkrótce na stronie.
	include _subscribe_pl.pug

block footer_link
	include _footer_link_pl.pug