extends _layout.pug

block head
	include _head.pug

block menu
	a.w--current.nav-link(href='/onas.html') O nas
	a.nav-link(href='/regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/gran_canaria_camp.html') Gran Canaria

block content
	a.w-inline-block.post-link
		img.main-image(src='img/viola.jpg')
	.heading-wrapper
		h1.blog-headline O nas
	.blog-content

		p 
			strong Viola Piatrouskaya
			|  – jest biegaczką maratonów górskich i ultra od 2012 roku. Biega na orientacje od 2001 roku. Kiedy mieszkała na Białorusi była w kadrze orientacji sportowej. Przez 7 lat uprawiała gimnastyką artystyczną, a teraz interesuje się jogą. Od 2015 roku biega w barwach Inov-8 Team Polska. 

		strong 2016
		ul
			li 2 miejsce Chudy Wawrzyniec (53 km)
			li 4 miejsce Cortina Trail (47km)
			li 2 miejsce Mistrzostwach Polski ( bieg na orientacje, ultralong)
		strong 2015
		ul
			li 1 miejsce w Ultra trail serra de Montsant (101km) Hiszpania
			li 1 miejsce Supermaraton Gór Stołowych (50km)  (5 miejsce w generalce) 
			li 1 miejsce Złoty Maraton (43km) 
			li 1 miejsce Maraton Leśnik Lato
			li 2 miejsce Chudy Wawrzyniec (86км)
			li 4 miejsce na Mistrzostwach Polski (bieg na orientacje, sprint)
		
		strong 2014 
		ul
			li start w CCC przy UTMB
			li 2 miejsce w Supermaraton Gór Stołowych (50km)

		strong 2013
		ul
			li 2 miejsce Chudy Wawrzyniec (86км)
			li 4 miejsce na Mistrzostwach Polski (bieg na orientacje, sprint)

		
	a.w-inline-block.post-link(href='/blog-posts/skate-park')
		img.main-image(src='img/il.jpg')
	.blog-content(data-text="Z wykształcenia inżynier sportowy")
		p 
			strong Ilya Marchuk
			|  –  biega ultra maratony i rajdy przygodowe od 2006 roku, również często startuje w zawodach na orientację. W przeszłości był instruktorem wspinaczkowym, ale ostatnio koncentruje się na górskich wyścigach.

		strong 2015
		ul
			li 1 miejsce w klasyfikacji generalnej Warszawa Nocą 2015 (bieg na orientacje, sprint)
			li 1 miejsce Maraton Leśnik Wiosna
			li 2 miejsce Maraton Leśnik Lato
			li 5 miejsce Chudy Wawrzyniec (86km)
			li 4 miejsce Ultra trail serra de Montsant (101km)

		strong 2014
		ul
			li 37 miejsce na OCC 53km (najkrótszy bieg przy UTMB)

		strong 2009
		ul
			li 4 miejsce na Ferino Extreme Marafon (60km w Ukraińskich Karpatach)

		strong 2006
		ul
			li 3 miejsce na Mistrzostwa Europy w Rogainingu (24 godzinny bieg na orientacje)
		
		br
		strong Biegi uliczne
		ul
			li Czas na półmaratonie 1:14:33
			li Czas na maratonie 2:47:00

block footer_link
	include _footer_link_pl.pug