extends _layout.pug

block head
	include _head.pug
	include _var.pug

block menu
	a.nav-link(href='onas.html') O nas
	a.nav-link(href='regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/pl/gran_canaria_camp.html') Gran Canaria

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/peniny_i_viola.jpg')
	.heading-wrapper
		h1.blog-headline OBÓZ BIEGOWY W SZCZAWNICY – 15-23 KWIETNIA 2017
	.blog-content
		p Pieniny — fajny region i na dłuższe wycieczki, i na crossy. Na zakresy również, bo są tu dobre odcinki płaskie. Przede wszystkim jednak, są to przepiękne krajobrazy. Zrobimy rekonesans niektórych tras z Biegów w Szczawnicy spokojnie podziwiając okoliczne widoki. Obiecujemy również wspólne spędzanie czasu na wesoło pomiędzy treningami: joga, slackline, prezentacje itd.

		img(src="/img/peniny_panorama.jpg")

		h3 Treningi

		p Rano zawsze proponujemy rozruch  — 15 minut joggingu i orzeźwiające ćwiczenia. Główny trening kilka godzin po śniadaniu będzie trwał od godziny do trzech. Znajdzie się miejsce również dla czterogodzinnych wycieczek. W okolicy naszego pensjonatu można robić ciekawe pętle od 6 do 25 km. Planujemy podjeżdżać do niektórych miejsc samochodem, aby zobaczyć więcej. Będziemy trenować z uwzględnieniem zawodów pod koniec obozu. Jako drugi trening 2 razy zajęcia odbędą się na sali gimnastycznej.

		img(src="/img/trzy_korony_top.jpg")

		img(src="/img/trening.jpg")

		h3 Nocleg

		p Zakwaterowani będziemy bezpośrednio w Szczawnicy w pensjonacie Trzy Korony, w 2, 3 i 4-osobowych pokojach z łazienkami. W całym pensjonacie działa Wi-Fi (choć zawsze staramy się, aby uczestnicy obozu o nim zapominali na czas wyjazdu).

		img(src="/img/room-image-loft.jpg")

		img(src="/img/room-image-window.jpg")

		h3 Wyżywienie

		p Trzy posiłki dziennie, z sałatkami i deserami. Śniadanie w formie bufetu. Dostępne wegetariańskie menu. Właściciel pensjonatu to były sportowiec, więc wie jak jedzą sportowcy, i cieszy się na współpracę z nami.



		h3 Rozrywka

		p Każdy wieczór jest zaplanowany program rozrywkowy w formie: prezentacji, gier, filmów i spotkań towarzyskich przy ognisku lub kominku.
		p W dzień odpoczynku: slackline, sauna, basen, a także na życzenie wyjazd do Zakopanego i wycieczki w Tatry.
		p Będzie dostępny również drewniany domek z barem na szczycie góry, tam zaplanowane jest ognisko i grill. Obiecujemy bardzo aktywne i zdrowe spędzanie czasu!

		img(src="/img/jakuzi.jpg")

		h3 Cena

		p
			strong 8 dni:
			br
			| 1299 zł — dla uczestników treningów;
			br
			| 999 zł — dla osób towarzyszących.
			br
			| Przyjazd o godzinie 16:00 - 15 kwietnia (sobota).
			br
			| Wyjazd po śniadaniu 23 kwietnia (niedziela).
		
		p
			strong 4 dni pomiędzy 15 a 23 kwietnia:
			br
			| 699 zł — dla uczestników treningów;
			br
			| 599 zł — dla osób towarzyszących.

		p.no-indent Dla dzieci 3-7 lat zniżka 40%.
		p.no-indent Prosimy o wpłatę zaliczki w wysokości 25% od ceny w ciągu 5 dni od zgłoszenia, jednak nie później niż 30 marca. W przypadku odwołania udziału do 3 kwietnia zwracamy 50% od zaliczki. Po 3 kwietnia zaliczka staje się bezzwrotna.
	include _subscribe_pl.pug

block footer_link
	include _footer_link_pl.pug