extends _layout.pug

block head
	include _head.pug

block menu
	a.nav-link(href='/onas.html') O nas
	a.nav-link(href='/regulamin.html') Regulamin
	a.w--current.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/gran_canaria_camp.html') Gran Canaria
block content
	a(data-flickr-embed='true', href='https://www.flickr.com/photos/68588467@N06/albums/72157667912111361', title='Tatry')
		img(src='https://farm8.staticflickr.com/7280/26831585441_e43e630951_b.jpg', width='1024', height='768', alt='Tatry')
	script(async='', src='//embedr.flickr.com/assets/client-code.js', charset='utf-8')

block footer_link
	include _footer_link_pl.pug