extends _layout.pug

block head
	include _head.pug

block menu
	a.nav-link(href='/onas.html') O nas
	a.w--current.nav-link(href='/regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/gran_canaria_camp.html') Gran Canaria

block content
	a.w-inline-block.post-link
		img.main-image(src='img/green.jpg')
	.heading-wrapper
		h1.blog-headline
			| REGULAMIN obozu biegowego 14-24 lutego 2017
			br
			| „Trail Running Camp”
	.blog-content
		ol(type="1")
			li 
				strong ORGANIZATOR
				br
				| MANUFACTORY Marchuk Ilya 
				br
				| ul. Niedźwiedzia 29B, 02­-737 Warszawa, Polska.
				br
				| NIP: 1231302457
			li
				strong WARUNKI UCZESTNICTWA
				br
				| Do uczestnictwa w obozie biegowym, zostaną dopuszczone osoby które:
				ol(type="a")
					li Ukończyły 18. rok życia
					li Dokonają zgłoszenia przez pocztę elektroniczną na adres info@trailruncamp.pl.
					li Wniosą odpowiednią opłatę 
					li Pierwszego dnia obozu okażą dokument tożsamości i podpiszą oświadczenie o braku przeciwwskazań zdrowotnych do udziału w treningach na obozie oraz znajomości niniejszego regulaminu i jego akceptacji, oświadczenie o zgodzie na wykorzystanie swojego wizerunku do celów promocyjnych dla obozów dalej organizowanych przez „MANUFACTORY Marchuk Ilya”
					li
						| Organizator ustala limit uczestników na:
						br
						| – minimalna liczba uczestników 10
						br
						| – maksymalna liczba uczestników 14
			li 
				strong PROGRAM OBOZU
				br
				| Dzień 1: ­rozpoczęcie obozu ­ przyjazd
				br
				| Dzień od 2 do 9: ­ do dwóch treningów dziennie plus poranny rozruch
				br
				| Dzień 10: ­zakończenie obozu
			li 
				strong ZGŁOSZENIA I OPŁATY
				ol(type="a")
					li Zgłoszenia należy dokonać przez pocztę elektroniczną na adres info@trailruncamp.pl
					li Należy wpłacić zaliczkę w wysokości 25% od pełnej kwoty. Zaliczka traktowana jest jako potwierdzenie udziału.
					li 
						| Dane do przelewu: Bank Millennium S.A
						br
						| Nazwa odbiorcy: MARCHUK ILYA
						br
						| Numer konta: 46 1160 2202 0000 0002 2469 9409
						br
						| Tytuł przelewu: Trail Running Camp GranCanaria 2017, zaliczka, IMIĘ NAZWISKO
					li 
						| Pozostałą część kwoty należy wpłacić przelewem albo gotówką pierwszego dnia na obozie
						br
						| Tytuł przelewu: Trail Running Camp GranCanaria 2017, całość, IMIĘ NAZWISKO
						br
						| lub gotówką najpóźniej pierwszego dnia obozu.
					li Opłata raz wniesiona nie podlega zwrotowi, z wyjątkiem sytuacji kiedy nie zostanie osiągnięta minimalna liczba uczestników na obozie

			li 
				strong ŚWIADCZENIA ORGANIZATORA
				ol(type="a")
					li 10 noclegów w domu El Majada;
					li pełne wyżywienie (3 posiłki dziennie);
					li do dwóch treningów dziennie plus poranny rozruch z wyłączeniem pierwszego dnia (odbędzie się wieczorna odprawa) oraz ostatniego dnia;
					li dostępne pokoje: 2­ i 3 osobowe.

			li 
				strong POSTANOWIENIA KOŃCOWE
				ol(type="a") 
					li Obóz odbędzie się bez względu na warunki atmosferyczne
					li Zgłoszenie przez pocztę elektroniczną na adres info@trailruncamp.pl i wniesienie opłaty jest równoznaczne z akceptacją niniejszego Regulaminu
					li Uczestnicy obozu biorą w nim udział na własną odpowiedzialność (zaleca się przeprowadzenia odpowiednich badań lekarskich oraz ubezpieczenie się we własnym zakresie)
					li Organizator nie zapewnia uczestnikom ubezpieczenia od następstw nieszczęśliwych wypadków
					li Organizatorzy zastrzegają sobie prawo do odwołania obozu, jeżeli do 20 dni przed terminem obozu, swojego udziału nie potwierdzi minimalna liczba uczestników
block footer_link
	include _footer_link_pl.pug