extends _layout.pug

block head
	include _head.pug
	include _var.pug

block menu
	a.nav-link(href='onas.html') O nas
	a.nav-link(href='regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/pl/gran_canaria_camp.html') Gran Canaria

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/tr_big.jpg')
	.heading-wrapper
		h1.blog-headline Obóz Kapadocja, Turcja – 13-23 października 2017
		p.text-center(style="margin-top: -20px;") (Wstępna propozycja)
	.blog-content
		p Ponieważ w 2017 roku w Kapadocji odbędzie się etap <a href="http://www.ultratrail-worldtour.com/races/" title="ultratrail-worldtour">światowego turu ultra-trail</a>, zdecydowaliśmy się tam pojechać.

		p Poznamy główną trasę <a href="https://cappadociaultratrail.com/">Cappadocia Ultra Trail</a>. Program kulturalny i rozrywka są włączone.
		p Noclegi w pensjonacie na terenie parku narodowego Göreme.
	include _subscribe_pl.pug
block footer_link
	include _footer_link_pl.pug