extends _layout.pug

block head
	include _head.pug
	include _var.pug

block menu
	a.nav-link(href='onas.html') O nas
	a.nav-link(href='regulamin.html') Regulamin
	a.nav-link(href='/photo.html') Zdjęcia
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/pl/gran_canaria_camp.html') Gran Canaria

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/fr_2.jpg')
	.heading-wrapper
		h1.blog-headline Obóz Chamonix-Mont-Blanc – 24 sierpnia - 3 września 2017
		p.text-center(style="margin-top: -20px;") (Wstępna propozycja)
	.blog-content
		p Cel obozu - zapoznanie się z trasami <a href="http://utmbmontblanc.com/en/page/20/UTMB®.html">UTMB</a> i <a href="http://utmbmontblanc.com/en/page/21/CCC®.html">CCC</a> i przygotowanie do startu, oczywiście uczestnicy obozu nie są zobowiązani do udziału w UTMB.

		p Wiemy jak trudno w pojedynkę zwiedzać trasę, zwłaszcza gdy trzeba podjechać na miejsce, zostawić samochód, a na koniec do niego wrócić. Uwolnimy cię od tego problemu. Nie trzeba będzie biegać tam i z powrotem, nie trzeba będzie się martwić o przygotowanie posiłków! Na koniec najlepsze: razem z nami będzie weselej!

		p Oferujemy transport z Warszawy busem albo z lotniska w Grenoble lub w Genewie (dla grupy osób). W drodze z Warszawy i z powrotem będzie zaplanowany program rozrywkowy i nocleg w komfortowych warunkach.

		p Zakwaterowanie i wyżywienie w domu w dolinie Chamonix-Mont-Blanc.
	include _subscribe_pl.pug
block footer_link
	include _footer_link_pl.pug