block head
	- var lang = 'en'
	html(lang=lang)
		head
			meta(charset='UTF-8')
			title Trail Running Camp in the mountains
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name='generator', content='Trail running camp ')
			meta(name='description', content='Trail running camp, Tatry Mountains')
			link(rel='stylesheet', type='text/css', href='/css/main.css')
			link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
			link(href='https://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')
			link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
			link(rel='apple-touch-icon', href='img/webclip.png')
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
			script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")