.row
	p.text-center
		span.waves-effect.waves-light.btn.js-join.grey.darken-4 Join us
.row
	form.col.s12.js-join-form(style="display: none")
		.row

			.s12
				p.text-center.flow-text.sm-text
					| Do not miss information about new camps!
				p.text-center.flow-text.sm-text.js-success.green-text(style="display: none")
					| Thank you for subscribing
				p.text-center.flow-text.sm-text.js-error.red-text(style="display: none")
					| Something went wrong, please <a href="mailto:info@trailruncamp.pl">let us know about it</a> 
			.progress(style="display: none")
				.indeterminate
			.input-field.col.l3.m12.s12
				input#name.validate(type="text" pattern=".{2,}")
				label(for="first_name") Name
			.input-field.col.l6.m12.s12
				input#email.validate(type="email")
				label(for="email") Email
			.input-field.col.l3.m12.s12.text-center
				input.js-send.btn.grey.darken-4(type="submit" disabled="disabled" value="Send")
include ../_subscribe_js.pug