extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/ru/') РУС
	a.nav-link(href='/') PL
	br
	a.w--current.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB
	
block content
	a.w-inline-block.post-link
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/tejeda.jpg')
			span.photo-author Fot. David Blas/Flickr
	br
	br
	.heading-wrapper
		h1.blog-headline 
			| TRAIL RUNNING CAMP IN GRAN CANARIA
			br
			strong 14-24 FEBRUARY 2017
	.blog-content
		br
		h3 Trail running camp in Canary Islands is open to anyone! Course suits for those who are preparing to participate in the Transgrancanaria race, and for those who want to have active vacation.
		br
		p.text-padding-50
			strong In the course:
			br
			br
			| - transfer from the airport to El Majadal house;
			br
			| - accommodation in El Majadal house located  on 1100 m a.s.l.;
			br
			| - full board (breakfast, lunch and dinner);
			br
			| - morning warm-up (on request);
			br
			| - trainings 2 times per day;
			br
			| - recovery after training (stretching with yoga elements);
			br
			| - explore route of Transgrancanaria;
			br
			| - transfer to the airport.
			br
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/beachs.jpg')
		h3
			strong Where we stay
		p El Majadal house is in San Mateo / Tejeda municipality a few km away from Tejeda village which is situated in the middle of the island. The house has also beautiful view on Roque Nublo (volcanic rock, the altitude - 1813 m.), one of the icons of the island.
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/house1.jpg')
			img.main-image.main-image-bottom-zero(src='/img/balcony.jpg')
		ul
			li House(250 m2) consists of 5 sleeping rooms (2-3 persons in the room), 2 Bathrooms, 1 toilet, independent kitchen.
			li Interior: fireplace, TV, electric heating, hair dryer.
			li Kitchen: dishwasher, fridge, oven, microwave, iron, coffee machine, cooking stove, toaster, kettle, etc.
			li Additional: Exterior bbq, private parking, 16000 m2 of gardens and 80m2 terrace.
			br
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/house.jpg')
			img.main-image.main-image-bottom-zero(src='/img/livingroom.jpg')
		h3
			strong Where we run
		p Gran Canaria is blessed with hundreds of kilometers of trails over all types of terrain, from forest or coastal tracks to rocky mountain trails in the centre of the island. The itinerary is flexible throughout the week to take account of the weather and conditions, to ensure that you sample the best trails on offer. Don't worry if you have never run on trails before, as you will pick up the skills quickly with guidance.
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/grancanaria_mapa.jpg')
			img.main-image.main-image-bottom-zero(src='/img/routes.jpg')
			span.photo-author Fot. Alastair Dixon/Flickr
		h3
			Strong Where we relax
		p The beaches of Gran Canaria are very diverse. There are beaches with sand dunes, where the sand is blown straight out from the Sahara, there are also black beaches sand out of volcanic rock. Also you can meditate in caves or in the famous garden of cactuses.
		p Average annual temperatures is ranging from 18 to 25 C, Gran Canaria has a mild climate for the majority of the year, making it perfect for running.
		p.text-center
			img.main-image.main-image-bottom-zero.main-image-top-margin(src='/img/24572613593_a7a6fc020f_b.jpg')
			span.photo-author Fot.Henry Solic/Flickr
			img.main-image.main-image-bottom-zero(src='/img/kaktusy.jpg')
			span.photo-author Fot. kakteenklaus/Flickr
		h3
			Strong Course Prices 
		ul
			li Booking with 25% deposit (250 euro), total 750 euro;
			li price per day 75 euro (you can leave earlier or stay longer);
			li for a accompanying person - 70 euro per day;
			li price excludes flight tickets.
			br
		p Feel free to contact us via <a href="mailto:info@trailruncamp.pl">e-mail</a>, <a href="tel:+48 534 472 533">phone (+48 534 472 533)</a> or <a href="https://www.facebook.com/trail.run.camp">facebook</a>.
		include _subscribe_en.pug
		br
		img.main-image.main-image-bottom-zero.main-image-top-margin(src='/img/morning.jpg')
	

block footer_link
	include _footer_link_en.pug