extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About Us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	.row
		.s12.col
			a.w-inline-block.post-link
				img.main-image(src='/img/6483150051_65eddcc8d8_b.jpg')
		.s12
			.heading-wrapper
				h1.blog-headline
					a(href="/en/gran_canaria_camp.html")
						| Trail running camp in Gran Canaria
						br
						strong 14-24 February 2017
				p.text-center Two trainings per day, good stretching with elements of yoga, the reconnaissance of Transgrancanaria course and accommodation in a cozy cottage on 1100 m above sea level.

			.heading-wrapper
				h1.blog-headline(style="margin-top: 40px; margin-bottom: 10px;") What's next?
		
		.s12.m6.col
			a.card(href="/en/peniny042017.html" data-href="/en/peniny042017.html" title="Poland, Pieniny Mountains")
				.card-image
					img.main-image.image-overlay(src='/img/peniny_i_viola_sm.jpg') 
					span.card-title.text-center 15-23 April, Poland (Pieniny Mountains)
		.s12.m6.col
			a.card(href="/en/lavaredo062017.html" data-href="/en/lavaredo062017.html" title="Italy Dolomites Lavaredo")
				.card-image
					img.main-image.image-overlay(src='/img/it_sm.jpg')
					span.card-title 13-24 June, Italy (Dolomites)
		.clearfix
		.s12.m6.col
			a.card(href="/en/utmb082017.html")
				.card-image
					img.main-image.image-overlay(src='/img/fr.jpg')
					span.card-title 24 August - 3 September, France (Alps)

		.s12.m6.col
			a.card(href="/en/turkey102017.html")
				.card-image
					img.main-image.image-overlay(src='/img/tr.jpg')
					span.card-title 13-23 October, Turkey (Cappadocia)

	include _subscribe_en.pug

block footer_link
	include _footer_link_en.pug