extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/it_md.jpg')
	.heading-wrapper
		h1.blog-headline Активыный отпуск в Доломитах!<br>
			| 13-24 Июня, Италия
		p.text-center(style="margin-top: -20px;") (Предварительное предложение)
	.blog-content
		p Сборы будут прохоить 10 дней перед стартом <a href="http://www.ultratrail.it/en/" title="Lavaredo Ultra Trail 120 km">Lavaredo Ultra Trail</a>. То есть это отличный способ изучить дистанцию,  для тех, кто там не был и собирается участвовать в соревнованиях. или кто собирается когда-то поучаствовать. Размещаться будем в райне Cortina d'Ampezzo.

		p
			| Мы предлагаем:
			br
			| - трансфер из/до Варшавы и на месте сборов
			br
			| - жилье в частном доме с трехразовым питанием
			br
			| - тренировки
			br
			| - интересные тропы и отличные виды
			br
			| - развлекательная программа.

		p Цены и более точные условия вскоре на сайте.


block footer_link
	include _footer_link_en.pug