extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.w--current.nav-link(href='/en/onas.html') About Us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/viola.jpg')
	.heading-wrapper
		h1.blog-headline About Us
	.blog-content

		p
			strong Viola Piatrouskaya
		ul
			li mountain and ultrarunner from 2012
			li the member of the team Inov-8 Polska
			li orienteering fan from 2001
			li fellow member of the Belarusian national team of orienteering

		strong 2016
		ul
			li 2nd place in Chudy Wawrzyniec (53 km)
			li 4th place in Cortina Trail (47km) Italy
			li 2nd place in Polish Championship (orienteering, ultralong)

		strong 2015
		ul
			li 1st place in Ultra Trail Serra de Montsant (101km) Spain
			li 1st place in Supermaraton Gór Stołowych (50km) (5-th place in general) 
			li 1st place in Gold Marathon (43km) 
			li 1st place in Maraton Leśnik Lato
			li 2nd place in Chudy Wawrzyniec (86km)
			li 4th place in Polish Championship (orienteering, sprint)
		
		strong 2014 
		ul
			li start in CCC within UTMB festival
			li 3rd place in Supermaraton Gór Stołowych (50km)

		strong 2013
		ul
			li 2nd place in Chudy Wawrzyniec (86км)
			li 4th place in Polish Championship (orienteering, sprint)

		
	a.w-inline-block.post-link(href='/blog-posts/skate-park')
		img.main-image(src='/img/il.jpg')
	.blog-content(data-text="Z wykształcenia inżynier sportowy")
		p 
			strong Ilya Marchuk
		ul
			li mountain and ultrarunner from 2006
			li participant of adventure races and orienteering
			li fellow climbing coach

		strong 2015
		ul
			li 1st place in general classification Warszawa Nocą 2015 (orienteering, sprint)
			li 1st place Marathon Leśnik Wiosna
			li 2nd place Marathon Leśnik Lato
			li 5th place Chudy Wawrzyniec (86km)
			li 4th place Ultra trail serra de Montsant (101km)

		strong 2014
		ul
			li 37th place in OCC 53km

		strong 2009
		ul
			li 4th place in Ferino Extreme Marafon (60km in Ukranian Karpaty)

		strong 2006
		ul
			li 3rd place in Europ Championship in Rogaining (24 h orienteering)
		
		br
		strong Road results:
		ul
			li Best time on half marathon: 1:14:33
			li Best time on marathon 2:47:00

block footer_link
	include _footer_link_en.pug