extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About Us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/peniny_i_viola.jpg')
	.heading-wrapper
		h1.blog-headline Trail Running Camp in Poland (Szczawnica)<br>
			| 15-23 April 2017
		p.text-center(style="margin-top: -20px;") (Preliminary proposal)
	.blog-content
		p Pieniny are not the highest mountains in Poland but very impressive. It is delightful scenery, fascinating routes and unique mountain villages. 8 days it’s not enough time to explore all the routes around, but you will definitely feel  the spirit of these beautiful mountains. We also promise a fun time together between workouts: yoga, slackline, presentations, etc.

		h3 Trainings

		p As the morning exercises offer jogging about 15 minutes and some easy exercise. There is a main training a couple of hours after breakfast. It could last from 1 to 3 hours.

		p In the district of our pension, you can do interesting hinges from 6 to 25 km, in addition, we are going to drive up to some places by car, to see more and to run more. As a second part of the day, we offer functional exercises or yoga in the local gym or just outdoor (depends on the weather).

		h3 Accommodation

		p We will be accommodated directly in Szczawnica in the pension hotel Trzy Korony. There are rooms for 2, 3, and 4 persons with individual showers and toilets. Throughout the hotel's Wi-Fi (but we will try to make you forget about it).

		p There is a full board with good healthy food, vegetarian meals are available.

		h3 Entertainment

		p Every evening entertainment program is scheduled in the form of presentations, games, movies and get-togethers around the campfire or fireplace.

		p On the day of rest: slackline, sauna, pool, and an optional trip to Zakopane, in the Tatras tours.

		p There is also a wooden house with a bar on top of the mountain, there will be a fireplace and barbecue facilities. We promise a very active and healthy pastime!

		h3 Costs

		p.no-indent.margin-bottom-5 8 days, arrival at 16:00 on April 15th (Saturday):

		ul
			li 1299 PLN — for participants;
			li 999 PLN — for persons accompanying.

		p.no-indent.margin-bottom-5 4 days, between April 15th and 23rd:

		ul
			li 699 PLN — for participants of trainings;
			li 599 PLN — for persons accompanying.
		
		p.no-indent For kids 3-7 years 40% discount.

		p We are asking to pay a deposit in the amount of 25% of the price within 5 days from the date of the application, but no later than March 30. In case of cancellation of participation until April 3rd, we return 50% of the initial payment. After April 3rd, the deposit becomes not refundable.
 

	include _subscribe_en.pug
	
block footer_link
	include _footer_link_en.pug