extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About Us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.w--current.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a(data-flickr-embed='true', href='https://www.flickr.com/photos/68588467@N06/albums/72157667912111361', title='Tatry')
		img(src='https://farm8.staticflickr.com/7280/26831585441_e43e630951_b.jpg', width='1024', height='768', alt='Tatry')
	script(async='', src='//embedr.flickr.com/assets/client-code.js', charset='utf-8')


block footer_link
	include _footer_link_en.pug