extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About Us
	a.w--current.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/green.jpg')
	.heading-wrapper
		h1.blog-headline
			| Regulations of the Trail Running Camp 14-24, February 2017
			br
			| „Trail Running Camp”
	.blog-content
		ol(type="1")
			li 
				strong ORGANIZATOR
				br
				| MANUFACTORY Marchuk Ilya 
				br
				| st. Niedźwiedzia 29B, 02­-737 Waraw, Poland.
				br
				| NIP: 1231302457
			li
				strong Terms and Conditions
				br
				| For participating in the camp you need to:
				ol(type="a")
					li be up to 18 years old;
					li confirm your participation via email for address info@trailruncamp.pl
					li make a prepayment and whole fee at the first day of the camp 
					li sign up an agreement on participation in the trainings at the camp and accept these regulations; also sign up an agreement to use ones image for promotion goals of the Trail Running Camp organized by „MANUFACTORY Marchuk Ilya”
					li
						| Organizator sets the limit of the participants:
						br
						| – minimal number of participants - 10
						br
						| – maximum number of participants - 14
			li 
				strong CAMP PROGRAM
				br
				| Day 1: ­ arriving and introduction
				br
				| Day from 2 to 9: ­ up to 2 trainings per day plus morning exercise
				br
				| Day 10: ­last training, ­ lunch ­- 14:00 and departure

			li 
				strong REGISTRATION AND PAYMENT
				ol(type="a")
					li You need to register via email info@trailruncamp.pl
					li You should make a prepayment 25% of the whole amount. Prepayment will be counted as confirmation of the participation.
					li 
						| Details for transaction: Bank Millennium S.A
						br
						| Name of reciever: MARCHUK ILYA
						br
						| Account number: 46 1160 2202 0000 0002 2469 9409
						br
						| Transaction title: Trail Running Camp 20-28 August, prepayment, Name Surname
					li 
						| You can pay the rest of the fee in cash at the camp or make a transaction with the title: Trail Running Camp GranCanaria 2017, whole fee, Name Surname.
						br
					li Once the payment is made it cannot returned or refunded, except for cases when we don't reach the minimum number of participants.

			li 
				strong Provided by organizer
				ol(type="a")
					li 10 nights in the house El Majadal in Tejeda
					li 3 meals
					li Up to 2 trainings per day plus morning exercises
					li 2­-3 persons in the room

			li 
				strong Final notes
				ol(type="a") 
					li The camp will be held regardless of the weather conditions
					li Participants are fully responsible for all the risks that might occure during the camp (the relevant medical examinations and health insurance are recommended)
					li The organizer does not provide participants with any type of insurance
					li The organizers reserve their right to cancel the camp within 20 days before its beginning in case of the required minimum number of participants will not be confirmed.					

block footer_link
	include _footer_link_en.pug