extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About Us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/tr_big.jpg')
	.heading-wrapper
		h1.blog-headline TRAIL RUNNING CAMP IN CAPPADOCIA – 13-23 OCTOBER 2017
		p.text-center (Preliminary proposal)
	.blog-content
		p Due to the facts that Cappadocia is unique place and there is a world ultra-trail tour in 2017 up there, we decided to go there. Especially the organizers promised that everything will be on the highest level.

		p We are going to check out the main route of <a href="https://cappadociaultratrail.com/">Cappadocia Ultra Trail</a>,  that's area is very unusual and interesting. Cultural program and entertainment are included. Accommodation in pension in Goreme national Park.

		p.text-center More details are coming soon.

	include _subscribe_en.pug
	
block footer_link
	include _footer_link_en.pug