extends ../_layout.pug

block head
	include _head_en.pug

block menu
	a.nav-link(href='/en/onas.html') About Us
	a.nav-link(href='/en/regulamin.html') Regulations
	a.nav-link(href='/en/photo.html') Photo
	a.nav-link(href='/') PL
	a.nav-link(href='/ru/') РУС
	br
	a.nav-link(href='/en/gran_canaria_camp.html') Gran Canaria
	a.w--current.nav-link(href='/en/utmb082017.html') Camp before UTMB

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/fr_2.jpg')
	.heading-wrapper
		h1.blog-headline Trail Running Camp before UTMB – August 25th to September 3rd
	.blog-content

		p
			strong Trail running camp in the Alps is open to anyone! Program suits for those who are going to participate in the UTMB’s races, and for those who want to have an active vacation.

		h3 We offer:

		ul
			li - transfer from Warsaw to Vallorcine by minibus with one night stay in a motel;
			li - accommodation in a cozy Chalet Anatase;
			li - course reconnaissance;
			li - some functional trainings;
			li - recovery after training (stretching with yoga elements);
			li - transfer to the airport or to Warsaw.
		p.no-indent 
			br
			| *Also, we can pick you from the airport (Geneva or Grenoble), who will not go from Warsaw.


		h3 How we get to the Alps:

		p We are going to go by minibus or two via Germany and Switzerland. The departure from Warsaw is on August 24th in the morning.  The overnight will be at the hotel in the Czech Republic on the border with Germany.
		
		p The arrival to Vallorcine will be in the afternoon. And the same plan on the way back.

		p If you are going to fly to Geneva or Grenoble, we can pick the organized group at the airport.
		
		h3 Where we stay
		
		p The accommodation will be in the village of Vallorcine. It is 25 minutes from Chamonix and 5 minutes to the Swiss border. Here is the last point of support for the participants in the UTMB, CCC, OCC course ( so we can cheer from the house).
		
		p L’ Anatase is a mountain Chalet with a garden, which is ranking 4 stars, renewal new standards Atout France by Gîtes de France.
		
		p 210 square meters on three floors. Kitchen, living room, dining room, 5 bedrooms including 2 family bedrooms, each room with individual bathroom. Laundry and utility room. The house can accommodate maximum 16 people.

		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase1.jpg")
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase2.jpg")
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase3.jpg")
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase4.jpg")

		h3 Where we run

		p We plan to show you some parts of the <a href="http://utmbmontblanc.com/en/page/20/UTMB®.html">UTMB</a>, <a href="http://utmbmontblanc.com/en/page/21/CCC®.html">CCC</a> and <a href="http://utmbmontblanc.com/en/page/217/OCC.html">OCC</a> courses.
		p So we will run not only in France but also in Italy and Switzerland, and all 3 countries are different even in the mountains :)
		p In program most of the time it will be slow running, taking pictures and staring around. For those who is going to participate in the races and to keep legs in good shape and not to overload, so 5-4 days before the start we will advise you only 30 minutes running and some strength trainings.
		
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/utmb-course-map.jpg")

		h3 Where to have fun

		p In fact, during UTMB festival we don’t need to think up anything. It will be interesting just to walk around Chamonix, there on the main streets, there are different performances by local dancers and musicians. Also, it worth to watch the start of the legendary race, they're touching even very distant people from running There will be a chance to buy something or just look at the top market of mountain running. You can also visit one of the main attractions of Chamonix, Aiguille du Midi, located at 3800 m n m. and check how you feel on that height. On request, one of these days we can organize a trip to Geneva.

		p The temperature in late August in average is 18°C a day, at night can drop to +4°C, but mostly Sunny and almost no rain. Although you should remembering - it is the mountains and they are quite high, so the cloud can fly at any time.

		h3 Costs

		p
			| 320 Euros - accommodation without for 9 days.
			br
			| 120 Euros - Return transport + 40 Euros for 2 nights in the motel.
			br
			| 100 EUR - participation of the organized trainings with transfer to the track;

		p We are going to cook together or separate if you will. Also, there is an option to have a private chef. It will cost 48 euro per person for dinner. We should have 6 requests to order him.

		p We ask for athe first prepayment of 2350% of the price within 15 days from the date of the application, but no later than July 10-th. In case of cancellation of participation until July 20, we return 50% of the initial payment. After July 20 no refund. The second prepayment 30% should be done before July 20.

		p You can contact us via <a href="mailto:info@trailruncamp.pl">email</a>, <a href="tel:+48 534 472 533">phone (+48 534 472 533)</a> or <a href="https://www.facebook.com/mountainrunningcamp/">social networks</a>.

		//- p We would like to invite everybody who is going to start in any of <a href="http://utmbmontblanc.com/en/page/20/UTMB®.html">UTMB</a> races or want just to spend active vacation in the Alps to our trail running camp. 
		//- p We know how difficult to explore the route alone, especially when you have to drive to the place and leave the car, and in the end return to it. We will free you from this problem. You will not need to run back and forth, you will not have to worry about cooking!
		//- ul
		//- 	li - transfer from Poland by mini bus ( or we can meet an organized group at the airport in Grenoble or Geneva);
		//- 	li - accommodation in Vallorcine (15 km to Chamonix) in Chalet L'Anatase ranking 4 stars 
		//- 	li - full board (breakfast, lunch and dinner);
		//- 	li - explore route of <a href="http://utmbmontblanc.com/en/page/21/CCC®.html">CCC</a> and <a href="http://utmbmontblanc.com/en/page/20/UTMB®.html">UTMB</a> races;
		//- 	li - organized exercises of stretching with yoga elements;
		//- 	li - transfer back to place where we picked you up.
		//- br
		//- p.text-center More details are coming soon.

	include _subscribe_en.pug
	
block footer_link
	include _footer_link_en.pug