block footer_link
	a.w-inline-block.link-to-page(href='tel:+48 534 472 533') +48 534 472 533
	a.w-inline-block.social-icon-link(href='https://www.facebook.com/mountainrunningcamp/')
		img(width='20', src='/img/fb.svg')
	a.w-inline-block.social-icon-link(href='https://vk.com/runningcamp')
		img(width='20', src='/img/vk.svg')
	a.w-inline-block.social-icon-link(href='https://www.instagram.com/trailruncamp/')
		img(width='20', src='/img/instagram.svg')
	a.w-inline-block.social-icon-link(href='mailto:info@trailruncamp.pl')
		img(width='20', src='/img/mail.svg')