block head
	- var lang = 'ru'
	html(lang=lang)
		head
			meta(charset='UTF-8')
			title Trail Running Camp, Беговые сборы в горах
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name='generator', content='Trail running camp')
			meta(name='description', content='Trail running camp, Беговые сборы в Татрах, Горы, Тренировочный лагерь')
			link(rel='stylesheet', type='text/css', href='/css/main.css')
			link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
			script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
			link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
			link(href='https://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')
			link(rel='apple-touch-icon', href='img/webclip.png')
			link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
			link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
			link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
			link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
			link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
			link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
			link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
			link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
			link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
			link(rel='icon' type='image/png' sizes='192x192'  href='/android-icon-192x192.png')
			link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
			link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
			link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
			meta(name='msapplication-TileColor' content='#ffffff')
			meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
			meta(name='theme-color' content='#ffffff')
