.row
	p.text-center
		span.waves-effect.waves-light.btn.js-join.grey.darken-4 Присоединяйся к нам
.row
	form.col.s12.js-join-form(style="display: none")
		.row

			.s12
				p.text-center.flow-text.sm-text
					| Не пропусти информацию о новых поездках!
				p.text-center.flow-text.sm-text.js-success.green-text(style="display: none")
					| Спасибо что подписались 
				p.text-center.flow-text.sm-text.js-error.red-text(style="display: none")
					| Что-то пошло не так, пожалуйста <a href="mailto:info@trailruncamp.pl">сообщи нам об этом</a> 
			.progress(style="display: none")
				.indeterminate
			.input-field.col.l3.m12.s12
				input#name.validate(type="text" pattern=".{2,}")
				label(for="first_name") Имя
			.input-field.col.l6.m12.s12
				input#email.validate(type="email")
				label(for="email") Эл. почта
			.input-field.col.l3.m12.s12.text-center
				input.js-send.btn.grey.darken-4(type="submit" disabled="disabled" value="Отправить")
include ../_subscribe_js.pug