extends ../_layout.pug

block head
	include _head_ru.pug
	
block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') УСЛОВИЯ
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.w--current.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a.w-inline-block.post-link
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/tejeda.jpg') 
	br
	br
	.heading-wrapper
		h1.blog-headline 
			| Беговые Сборы на Гран Канарии
			br
			strong 14-24 февраля 2017
	.blog-content
		br
		h3 Беговые сборы на Канарских островах рассчитаны для бегунов разного уровня физической подготовки. Программа рассчитана и для тех, кто готовится участвовать в забеге Transgrancanaria и для тех, кто просто хочет активно провести свой отпуск на острове!
		br
		p.text-padding-50
			strong В программе:
			br
			br
			| - транспорт из аэропорта до места проживания;
			br
			| - проживание в очень уютном доме на 1100 м над уровнем моря;
			br
			| - трехразовое питание;
			br
			| - по утрам зарядка (по-желанию);
			br
			| - совместные пробежки 2 раза в день;
			br
			| - восстановление после тренировок (растяжка и йога);
			br
			| - изучение дистанции Transgrancanaria;
			br
			| - транспорт до аэропорта. 
			br
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/beachs.jpg')
		h3
			strong Где будем жить:
		p Дом El Majadal в Сан-Матео, всего 1 км от национального замка Техеда, а также в нескольких км от города Техеда, который находится почти в середине острова. Из дома открывается прекрасный вид на Роке-Нубло — главный символ острова, вулканическая скала высотой 1813м.
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/house1.jpg')
			img.main-image.main-image-bottom-zero(src='/img/balcony.jpg')
		ul
			li Дом (250 м2) состоит из 5 спальных комнат, 3 ванные комнаты, отдельная кухня. 
			li Интерьер: камин, телевизор, электрическое отопление, фен. 
			li Кухня: посудомоечная машина, холодильник, духовка, микроволновая печь, утюг, кофе машина, плита, тостер, чайник, и т. д
			li Дополнительно: наружное барбекю, парковка, 16000 м2 сад и терраса 80м2.
			br
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/house.jpg')
			img.main-image.main-image-bottom-zero(src='/img/livingroom.jpg')
		h3
			strong Где будем бегать
		p Вместе с вами мы изучим дистанцию Transgrancanaria Advanced, а также и многие другие туристические тропы. Есть специальные карты туристических маршрутов Гран Канарии, а на местности все обозначено, так что никто не потеряется!
		p.text-center
			img.main-image.main-image-bottom-zero(src='/img/grancanaria_mapa.jpg')
			img.main-image.main-image-bottom-zero(src='/img/routes.jpg')
		h3
			Strong Где будем отдыхать
		p Пляжи Гран Канарии очень разнообразны. Например есть пляж на дюнах, этот песок сюда приносят ветра прямо из Сахары, а есть “черные” пляжи с черным песком вулканических пород. Также можно еще будет помедитировать в пещерах или в знаменитом саду кактусов.
		p Температура в феврале в среднем от +22 днем в горах до +25 на юге острова. Идеальное место для сочетания тренировок и отдыха!
		p.text-center
			img.main-image.main-image-bottom-zero.main-image-top-margin(src='/img/24572613593_a7a6fc020f_b.jpg')
			img.main-image.main-image-bottom-zero(src='/img/kaktusy.jpg')
		h3
			Strong Сколько стоит 
		ul
			li Заявка с предоплатой 25%(250 евро), всего 750 евро.
			li Цена за день 75 евро (можно уехать раньше или остаться подольше).
			li Для друзей или родственников не принимающих участие в тренировках 70 евро в день.
			li В стоимость не входит билет на самолет.
		p.margin-top Связаться с нами можно через <a href="mailto:info@trailruncamp.pl">электронную почту</a>, <a href="tel:+48 534 472 533">телефон (+48 534 472 533)</a> или <a href="https://www.facebook.com/mountainrunningcamp/">в социальных сетях</a>.
		include _subscribe_ru.pug
		br
		img.main-image.main-image-bottom-zero.main-image-top-margin(src='/img/morning.jpg')
	
block footer_link
	include _footer_link_ru.pug