extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') УСЛОВИЯ
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	.row
		.s12.col
			a.w-inline-block.post-link
				img.main-image(src='/img/6483150051_65eddcc8d8_b.jpg')
		.s12
			.heading-wrapper
				h1.blog-headline
					a(href="/ru/gran_canaria_camp.html")
						| Беговые Сборы на Гран Канарии
						br
						strong 14-24 февраля 2017
				p.text-center Две тренировки в день, добросовестная растяжка с элементами йоги, изучение маршрута Transgrancanaria и жилье в уютном <span class="nowrap">коттедже на 1100 м н. у. м.</span>

			.heading-wrapper
				h1.blog-headline(style="margin-top: 40px; margin-bottom: 20px;") А так же планируются:
		.s12.m6.col
			a.card(href="/ru/peniny042017.html")
				.card-image
					img.main-image.image-overlay(src='/img/peniny_i_viola_sm.jpg')
					span.card-title.text-center 15-23 Апреля Польша (Пенины)
		.s12.m6.col
			a.card(href="/ru/lavaredo062017.html" title="Италия Доломиты")
				.card-image
					img.main-image.image-overlay(src='/img/it_sm.jpg')
					span.card-title 13-24 Июня, Италия (Доломиты)
		.clearfix
		.s12.m6.col
			a.card(href="/ru/utmb082017.html")
				.card-image
					img.main-image.image-overlay(src='/img/fr.jpg' title="Франция Альпы")
					span.card-title 24 Августа - 3 Сентября Франция (Альпы)
		.s12.m6.col
			a.card(href="/ru/turkey102017.html")
				.card-image
					img.main-image.image-overlay(src='/img/tr.jpg')
					span.card-title 13-23 Октября Турция (Каппадокия)

	include _subscribe_ru.pug
	
block footer_link
	include _footer_link_ru.pug