extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.w--current.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/viola.jpg')
	.heading-wrapper
		h1.blog-headline О нас
	.blog-content

		p 
			strong Виола Петровская
			|  – бегает горные марафоны и ультра забеги с 2012 года. 7 лет занималась худ гимнастикой. С 2001 года занимается спортивным ориентированием. Состоит в польской команде Inov-8. Увлекается ездой на велосипеде и йогой.

		strong 2016
		ul
			li 2 место Chudy Wawrzyniec (Польша) (53 км)
			li 2 место Wilcze Gronie (Польша) (горные 15км) 
			li 2 место на Чемпионате Польши на удлиненные дистанции (по спортивному ориентированию)

		strong 2015
		ul
			li 1 место в Ultra trail serra de Montsant (Испания) (101км)
			li 1 место Supermaraton Gór Stołowych (Польша) (50км)  (5 место среди в общем зачёте) 
			li 1 место Złoty Maraton (Польша) (43км) 
			li 1 место Maraton Leśnik Lato (Польша)
			li 2 место Chudy Wawrzyniec (Польша) (86км)
			li 4 место на Чемпионате Польши (по спортивному ориентированию, спринт)
		
		strong 2014 
		ul
			li стартовала в CCC при UTMB
			li 2 место в Supermaraton Gór Stołowych (Польша) (50км)

		strong 2013
		ul
			li 2 место Chudy Wawrzyniec (86км)
			li 4 место на Чемпионате Польши (по спортивному ориентированию, спринт)
		
	a.w-inline-block.post-link(href='/blog-posts/skate-park')
		img.main-image(src='/img/il.jpg')
	.blog-content(data-text="Z wykształcenia inżynier sportowy")
		p 
			strong Илья Марчук
			|  –  участвует в ультрамарафонах и приключенческих гонках с 2006 года, также часто стартует в соревнования по спортивному ориентированию. В прошлом был тренером по скалолазанию, а в последнее время концентрируется на горных забегах.

		strong 2015
		ul
			li 1 место в общем итоговом зачёте Warszawa Nocą 2015 (спортивное ориентирование, спринт)
			li 1 место Maraton Leśnik Wiosna (Польша)
			li 2 место Maraton Leśnik Lato (Польша)
			li 5 место Chudy Wawrzyniec (Польша) (86км)
			li 4 место Ultra trail serra de Montsant (Испания) (101км)

		strong 2014
		ul
			li 37 место на OCC 53км (самый короткий забег при UTMB)

		strong 2009
		ul
			li 4 место на Ferino Extreme Marafon (60км в Украинских Карпатах)

		strong 2006
		ul
			li 3 место на Чемпионате Европы по Роггейну (24-х часовое спортивное ориентирование)
		
		br
		strong Плоские забеги:
		ul
			li Время на полумарафоне 1:14:33
			li Время на марафоне 2:47:00


block footer_link
	include _footer_link_ru.pug