extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.w--current.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/peniny_i_viola.jpg')
	.heading-wrapper
		h1.blog-headline Сборы в Щавнице – 15-23 Апреля 2017
		//- p.text-center(style="margin-top: -20px;") (Предварительное предложение)
	.blog-content
		p Небольшие, но крутые Пенины это и восхитительные пейзажи, и увлекательные маршруты, и неповторимые горные деревушки. За 9 дней всего не изведаешь, но впечатления от этих прекрасных гор, вы точно получите.

		img(src="/img/peniny_panorama.jpg")

		h3 Тренировки

		p В качестве утренней зарядки предлагаем легкую пробежку на 15 минут и взбадривающие упражнения. Через пару часов после завтрака - основная беговая тренировка от 1 часа до 4-x  часовых кросс-прогулок.

		p В округе нашего пансионата можно делать интересные петли от 6 до 25 км, также мы будем подъезжать к некоторым местам на машине, чтобы увидеть больше и забежать дальше. Основные нагрузки будут в середине сбора. Будем тренироваться с учетом <a href="http://biegiwszczawnicy.pl">соревнований</a> в конце выезда. В качестве второй тренировки дважды предлогаем занятия в спортзале.

		img(src="/img/trzy_korony_top.jpg")

		img(src="/img/trening.jpg")

		h3 Проживание

		p Размещаться будем непосредственно в городе Щавница в пансионате Trzy Korony. В 2-х, 3-х, 4-х местных комнатах с душем и туалетом. По всему Пансионату работает Wi-Fi (но мы постараемся, чтобы вы про него забыли на время сборов).

		img(src="/img/room-image-loft.jpg")

		img(src="/img/room-image-window.jpg")

		h3 Питание

		p Трехразовое питание с салатами и десертами. На завтрак шведский стол. Возможно вегетарианское меню. Хозяин пансионата бывший спортсмен, так что знает, как питаются спортсмены, и рад только с нами сотрудничать.

		h3 Развлечения

		p Каждый вечер планируется развлекательная программа в виде: презентаций, игр, фильмов или посиделок около костра или камина.
		p В день отдыха: слэклайн, сауна, бассейн, а также по-желанию выезд в Закопаны и прогулки по Татрам. Также нам будет доступен деревянный домик с баром на вершине горы, там планируется костер и гриль с горячим пивом.
		p Обещаем очень активное и здоровое времяпровождение!

		img(src="/img/jakuzi.jpg")


		h3 Стоимость

		p.no-indent
			| В стоимость входит транспорт на сборах, но не входит доезд до Щавницы.
			br
			| Для детей 3-7 лет скидка 40%.
			br
			| Заявка с предоплатой 25%.
		p
			strong 8 дней:
			br
			| 1299 злотых - для участников тренировок;
			br
			| 999 злотых  -  для друзей или родственников участников, не принимающих участие в тренировках.
			br
			| Заезд с 16:00 -  15 апреля (суббота).
			br
			| Выезд после завтрака 23 апреля (воскресенье).
		
		p
			strong 4 любых дня между 15-23 Апреля:
			br
			| 699 злотых - для участников тренировок;
			br
			| 599 злотых - для друзей или родственников участников, не принимающих участие в тренировках.

		p Просим предоплату в размере 25% от цены в течение 5 дней с момента заявки, но не позднее, чем до 30 марта. В случае отмены участия до 3 апреля, мы возвращаем 50% от первоначального взноса. После 3 апреля предоплата  не возвращается.

		//- p Мы предлагаем совместную подготовку к забегам в Шчавнице</a>. 
		//- p Покажем, как и где проходят маршруты, а также спокойно полюбуемся видами с главных смотровых площадок. Основные нагрузки будут в начале сбора. Будем тренироваться с учетом соревнований в конце выезда. Восстановление будет проходить в виде растяжки, йоги и сауны с бассейном в Шчавнице.
		//- p Проживание с трехразовым питанием в пансионате Три Короны (7 минут мешком от места старта).
	include _subscribe_ru.pug
	
block footer_link
	include _footer_link_ru.pug