extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.w--current.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a(data-flickr-embed='true', href='https://www.flickr.com/photos/68588467@N06/albums/72157667912111361', title='Tatry')
		img(src='https://farm8.staticflickr.com/7280/26831585441_e43e630951_b.jpg', width='1024', height='768', alt='Tatry')
	script(async='', src='//embedr.flickr.com/assets/client-code.js', charset='utf-8')

block footer_link
	include _footer_link_ru.pug