extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.w--current.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/green.jpg')
	.heading-wrapper
		h1.blog-headline
			| Условия бегового сбора 14-24 февраля 2017
	.blog-content
		strong УСЛОВИЯ УЧАСТИЯ
		ol(type="1")
			li Организатором сборов является фирма "MANUFACTORY Marchuk Ilya"  ul. Niedźwiedzia 29B, 02-737 Warszawa, Polska. NIP: 1231302457,  далее именуемая Организатором. 
				br
			li Организатор обязуется организовать беговые сборы в соответствии с представленным предложением на сайте.
				br
			li Организатор может отменить сборы не позднее, чем за 20 дней до его планируемого начала, если число желающих не превысит 10-ти участников. Все оплаты будут возвращены на указанный участником счет.
			li Условием участия в сборах является:
				br
				| - письмо высланное на почту info@trailruncamp.pl с подтеврждением участия;
				br
				| - принятие правил сборов;
				br
				| - внесение оплаты на номер счета: PL 46 1160 2202 0000 0002 2469 9409, Bank Millennium SA, Swift (BIGBPLPW); на имя Marchuk Ilya, (либо через PayPal на email marchukilya@gmail.com).
			li Участниками сборов могут быть только лица достигшие совершеннолетия.
			li Участники лагеря должны самостоятельно позаботиться о:
				br
				|- соответствующей обуви и спортивной одежде, подходящей для погодных условий;
				br
				|- сменной обуви для спортзала.
				br
			li О имеющихся заболеваниях и травмах, а также о каких-либо расстройствах (физических, психологических) участники должны сообщить организатору непосредственно перед началом занятий.	
			li Участник сбора решается на участие на свой страх и риск, и заявляет, что не имеет никаких медицинских противопоказаний для участия в спортивном сборе.
			li Следует иметь страховку от несчастных случаев (необходимо приобрести самостоятельно).
			li Ответственным за возможный ущерб, на сборах, является участник вызвавший этот ущерб.
			li Принятие правил означает согласие на безвозмездное использование организатором сбора фотографий или видео участника сбора, выполненного в ходе сбора в целях документирования и маркетинга, а в частности, на публикацию фотографий на веб-сайте, в рекламных материалах организатора, в социальных сетях, баннерах, листовках, плакатах, издательствах и т. д.
				
block footer_link
	include _footer_link_ru.pug