extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.w--current.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	.carousel-review.slide#carousel-review(data-interval="false")
		//- (data-ride="carousel")
		//- a.carousel-readmore.js-feedback(href="#") Читать дальше
		ol.carousel-indicators
			li.active(data-target="#carousel-review" data-slide-to="0")
			li(data-target="#carousel-review" data-slide-to="1")
			li(data-target="#carousel-review" data-slide-to="2")
			li(data-target="#carousel-review" data-slide-to="3")
		.carousel-inner(role="listbox")
			.item.active
				img(src="/img/kolya.jpg")
				h3.text-center Николай Волков
				.feedback
					p Однажды, случилось так, что оказался я с одной милой девушкой, после тренировки, за чашкой чая в одном месте. И, эта девушка, невзначай, рассказала мне про беговые сборы в горах. То ли харизма этой девушки на меня так повлияла, то ли, просто, карты так сложились, но эту информацию я принял к сведению и на сборы попал.

					p Суеверные люди, говорят: «как встретишь Новый Год, так его и проведешь». Сборы проходили в январе. И, скажу я вам, это было одним из самых лучших начинаний года в моей жизни. Я не суеверный, но какой-то особенный ритм последующих событий в этом году этими сборами был задан. Замечательный ритм!

					p Многое можно рассказывать, можно даже целый рассказ написать! но боюсь, мне этого не будет позволено. Я не буду описывать что и как и где было на этих сборах, мне кажется, простым описанием не передать всю полноту чувств и, всю ту гамму эмоций, с которыми я вернулся домой. Я сделаю по-другому, я просто расскажу какие-то отдельные, запомнившиеся мне моменты и постараюсь передать то, что я в эти моменты испытывал, свое эмоциональное отношение к ним. Во всяком случае попробую. 

					p 1) Я в какой-то степени человек нелюдимый, со стороны этого вероятнее всего не скажешь, но это потому, что я свою социофобию прячу под улыбку и непрекращающийся треп. Мне было очень волнительно и в какой-то мере боязно первой встречи с организаторами сборов. Оно ведь как, нам вместе предстояло провести неделю, в тесном контакте, и я думал: «а вдруг мне будет дискомфортно в кругу этих людей». Это были очень глупые мысли. Илья и Виола необычные люди, которые обладают непонятной мне магией, я думаю запрещенной, с помощью которой они располагают к себе всех людей. Замечательные люди!

					p 2) У меня есть плохое свойство – я не знаю меры. Это мое свойство так же распространяется и на тренировки. Если меня не контролировать и не направлять я «ушатаю» себя с невероятной скоростью. Что бы меня контролировать, что бы я позволял себя направлять, я должен верить человеку, как тренеру. Тут мы плавно подходим к профессиональным качествам Виолы с Ильей: они знают, о чем говорят, когда говорят о горном беге. Они знают, о чем говорят, когда говорят о здоровом питании. И, вообще, они столько всего знают, что я, иногда, удивлялся, как столько информации может вместиться в голову. Я им доверяю. И, еще чуть-чуть: Виола с Ильей очень-очень-очень умеют мотивировать. И, самое важное, что делают они это самым замечательным способом – своею искренней любовью к тому, чем они занимаются!

			.item
				img(src="/img/ola.jpg")
				h3.text-center Оля Лебедева
				.feedback
					p Это был долгожданный,хоть и немного неожиданный отпуск, все препятствовало нашей поездке - смена паспорта, оформление визы, деньги, работа, но мы верили, надеялись и ломали преграды.

					p Это было удивительное время, удивительные места и удивительные люди, которые изменили нашу жизнь. Мы открыли для себя много новых вещей, получили море мотивации, узнали об ошибках, и силе воле, о питании, о возможностях, о людях, которые могут поддержать, и ещё очень-очень много о чем… Это был "отпуск" для души.

					p Хотелось бы выразить огромную благодарность Виоле и Илье за такую замечательную возможность. У меня наверно не хватило бы слов выразить все свои эмоции, которые мы получили)) Мы побывали в очень красивых местах, прикоснулись к дикой природе, проверили свои возможности и силы, познакомились  с чудесными, открытыми и удивительными людьми, которые всегда идут на встречу)) Питание, проживание это далеко для нас не главное, но было очень приятным сюрпризом, все очень комфортно, а питание это отдельная тема))) Я надеялась скинуть пару кг, но все настолько разнообразно и вкусно, что просто невозможно устоять… 

					p Немного вспомнилось детство, лагеря, когда есть расписание и твой день расписан по минутам. Ты все время делаешь что-то новое, что-то узнаешь, было очень весело и незабываемо)). Беговые тренировки, разминки, растяжки, тренировки в зале, силовые... очень классно))))) Прогулки, шашлыки, фильмы, рассказы о марафонах, о прекрасных местах, о подготовках и тренировках... море информации и мотивации)) Уверена, что ни один человек не смог бы остаться равнодушным)) 

					p Всем очень советую и рекомендую))) Индивидуальный подход и поддержка каждому гарантируется, и даже если вы не уверены в своих силах, возможностях, не сомневайтесь!!!! вы справитесь!!!! Измените свою жизнь и получайте удовольствие! Ничего не бойтесь!

			.item
				img(src="/img/olga.jpg")
				h3.text-center Ольга Роговцова
				.feedback
					p Я счастлива, что смогла принять участие в данном проекте.На одной из тренировок я бежала и думала "как же здорово, что я выбрала бег на длинные дистанции.за тренировку можно столько всего посмотреть, увидеть столько красоты !"
					
					p Такие организованнные сборы отлично подойдут как для бегунов со стажем,так и для новичков.Не стоит бояться, если у вас небольшой беговой опыт ! Эти сборы-то, что вам надо, чтобы получить заряд энергии и хорошего настроения для дальнейших тренировок.
					
					p
						| Из плюсов таких сборов хочется отметить:
						br
						| 1.Ты преезжаешь на сбор и отключаться от всех бытовых,рабочих моментов.Вся твоя энергия сконцентрирована только на качественной тренировки. 
						br
						| 2. Питание и отдых-все рассчитано для того,чтобы вы были полны сил для выполнения тренировок. Дома мы не всегда можем вовремя поесть и достаточно поспать.
						br
						| 3.Сам тренировочный процесс построен очень здорово.Ваша тренировка будет рассчитана из вашей физической готовности. Вам не придётся перебирать лишнее,но и расслабиться вам не дадут :) На таком сборе каждый почерпнет для себя что-то новое,как новичок, так и опытный бегун!
						br
						| 4. Очень важный момент- компания! Это очень здорово- новые знакомства, обмен опытом, коллективная тренировка.
					
					p Такие сборы огромный мотиватор,который настраивает тебя на покорение новых вершин!
					
					p Каждая тренировка на сборе будет для вас маленьким приключением! Необычные тренировки на новой, зачастую непривычной, для нас местности -это очень здорово!!!Зарасайтесь камерами,потому что вам обязательно захочется запечатлить все то, что будет происходить с вами и ту красоту, которая будет окружить вас!

			.item
				img(src="/img/vita.jpg")
				h3.text-center Вита Никеенко
				.feedback
					p С 25 по 31 января 2016 г. принимала участие в беговых сборах, организуемых Виолой и Ильей. О сборах узнала от общих знакомых и группы в Контакте. И не пожалела ни разу, что поехала.
					
					p Все очень четко организовано. 2 полноценных тренировки в день + 15–минутная пробежка-разминка утром. Занятия разные: и бег вверх в гору, и по равнине вдоль речки, разнообразные упражнения ОФП, обязательная заминка-растяжка. С объяснением и теорией, как лучше сделать, чтобы получилось быстрее, легче, без травм, исправление ошибок. У меня до сих пор во время длительных забегов в голове совет Виолы: «Спинку держи…».
					
					p Очень понравилось, что ребята постарались оценить уровень подготовленности каждого участника. Первоначальный опрос еженедельного километража, времени на 5, 10 км, состояние здоровья. И дальше в процессе сборов каждый день оценка пульса, вопросы про самочувствие. Исходя из этого, корректировалась нагрузка. Делились на группы, с каждой группой свой тренер. Правда думаю, что совсем-совсем новичкам будет сложно.
					
					p И особо хотелось отметить вечера. Откуда столько энергии:) После ужина все плавно стекались к тренерам, смотрели фильмы про «звезд» и события в мире бега, Илья и Виола делились практическими наработками на тему питания, снаряжения, расслабления, отвечали на многочисленные вопросы. Получалась одна такая большая «маленькая» семья. Ну и бонусом красивые места, гостеприимные хозяева, вкусная польская кухня (это уже скорее минус =), нельзя столько есть)
					
					p Огромное спасибо ребятам за познавательно-продуктивный отпуск. C удовольствием поеду еще.

	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
	script(type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
	script(type='text/javascript').
		$(function() {
			$('.js-feedback').click(function(){
				$('.feedback').css({'overflow-y': 'auto'});
				return false;
			});
			$('.carousel').carousel({
				pause: true,
				interval: false
			});
		});

block footer_link
	include _footer_link_ru.pug