extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.nav-link(href='/ru/peniny042017.html') Сборы в Пенинах
	a.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/tr_big.jpg')
	.heading-wrapper
		h1.blog-headline Сборы в Каппадокия – 13-23 Октября 2017
		p.text-center(style="margin-top: -20px;") (Предварительное предложение)
	.blog-content
		p Так как в 2017 году в Кападокии будет этап <a href="http://www.ultratrail-worldtour.com/races/" title="ultratrail-worldtour">мирового ультра-трэйл тура</a>, мы решили туда наведаться, тем более организаторы зовут и обещают, что все будет круто.

		p Изучим основной маршрут <a href="https://cappadociaultratrail.com/">Cappadocia Ultra Trail</a>, район соревнований очень необычный и интересный.  Культурная программа и развлечения включены.

		p Проживание в пансионате на территории национального парка Гёреме.

	include _subscribe_ru.pug

block footer_link
	include _footer_link_ru.pug