extends ../_layout.pug

block head
	include _head_ru.pug

block menu
	a.nav-link(href='/ru/onas.html') О нас
	a.nav-link(href='/ru/regulamin.html') Условия
	a.nav-link(href='/ru/photo.html') Фото
	a.nav-link(href='/ru/review.html') Отзывы
	a.nav-link(href='/') PL
	a.nav-link(href='/en/') EN
	br
	a.nav-link(href='/ru/gran_canaria_camp.html') Гран-Канария
	a.w--current.nav-link(href='/ru/utmb082017.html') Сборы в Валлорсин (UTMB)

block content
	a.w-inline-block.post-link
		img.main-image(src='/img/fr_2.jpg')
	.heading-wrapper
		h1.blog-headline Сборы в Валлорсин – 24 Августа - 3 Сентября 2017
	.blog-content
		p Беговые сборы во Французских альпах рассчитаны для бегунов любителей. Программа подготовлена и для тех, кто готовится участвовать в забегах UTMB и для тех, кто просто хочет активно провести свой отпуск в Альпах!

		h3 Мы предлагаем:

		ul
			li - транспорт из Варшавы до Валлорсин на микроавтобусе с одной ночевкой в мотеле;
			li - проживание в уютном (домике)шале Anatase;
			li - совместные пробежки 1-2 раза в день, изучение беговых маршрутов UTMB;
			li - восстановление после тренировок (растяжка и йога);
			li - транспорт обратно до Варшавы.

		p.no-indent
			br
			| *Также можем встретить из аэропорта (в Женеве или Гренобле), кто не поедет с нами автобусом.

		h3 Как будем ехать:

		p Организовано планируем ехать бусом или двумя через Германию и Швейцарию. Выезд из Варшавы 24-го Августа утром. С ночевкой в отеле в Чехии на границе с Германией.

		p На месте во Франции будем в районе обеда. И такой же план на обратном пути.

		p Если вы собираетесь лететь самолетом до Женевы или Гренобля, то мы можем встретить организованную группу в аэропорту..

		h3 Где будем жить:

		p Проживание в деревне Валлорсин это 25 мин от Шамони и 5 мин до Швейцарской границы, здесь находится последний пункт поддержки для участников UTMB, CCC, OCC (будем болеть возле нашего домика).
		
		p Располагаться будем в просторном горном шале с садом, который сертифицирован на 4 звезды.
		
		p 210 квадратных метров располагаются на трех этажах. Кухня, гостиная, столовая, 5 спален, включая 2 семейных спален, каждая комната с индивидуальной ванной комнатой. Прачечная и хозяйственное помещение. В доме максимум может разместиться 16 человек.

		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase1.jpg")
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase2.jpg")
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase3.jpg")
		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/anatase4.jpg")

		h3 Где и как будем бегать:

		p Планируем показать вам некоторые участки дистанций <a href="http://utmbmontblanc.com/en/page/20/UTMB®.html">UTMB</a>, <a href="http://utmbmontblanc.com/en/page/21/CCC®.html">CCC</a> и <a href="http://utmbmontblanc.com/en/page/217/OCC.html">OCC</a>.
		
		p Так что будем бегать не только во Франции, но и в Италии и Швейцарии, а все 3 страны отличаются даже в горах :)

		p.text-center
			img.main-image.main-image-bottom-zero(src="/img/utmb-course-map.jpg")

		p Будем бегать спокойно, фотографироваться и глазеть по сторонам. Для тех, кто будет стартовать в забегах - ноги будем держать в тонусе, а не загружать, поэтому 5 дней до старта будет советоваться уже только прогулки и короткие пробежки.

		h3 Отдых и Развлечения

		p На самом деле во время этого бегового фестиваля самим нам много придумывать не придется. Интересно будет просто прогуляться по Шамони, там на центральных  улицах устраиваются выступления местных танцоров и музыкантов, стоить посмотреть старты легендарных забегов, они трогают даже очень далеких людей от бега, а еще там будет шанс прикупить что-то или просто поглазеть на топовом рынке горного бега. Также можно посетить одно из главных достопримечательностей Шамони Aiguille du Midi, что находится на 3800 м н.у м. и проверить, как вы переносите высоту. По желанию возможна организованная поездка в Женеву.

		p Температура в конце августа в среднем +18 днем, ночью может опускаться  до +4, но в основном солнечно и почти без осадков. Хотя стоит помнить - это горы и не низкие, поэтому туча прилететь может в любой момент.


		h3 Сколько стоит

		p
			| 320 евро - жилье без питания за 9 дней без транспорта.
			br 
			| 120 евро -  транспорт туда и обратно + 40 евро 2 ночевки.
			br
			| 100 евро -  участие в совместных тренировках с подвозом по дистанции
			br 
			| Питание вместе или самостоятельно. Есть вариант заказать повара. Стоимость 48 евро на человека за ужин. Должно быть 6 желающих, чтобы сделать заказ.


		p Просим внести первую предоплату 30% от цены в течение 15 дней с момента заявки, но не позднее, чем до 10 июля. В случае отмены участия до 20 июля мы возвращаем 50% от первоначального взноса. После 20 июля предоплата не возвращается. Вторая предоплата 30% должна быть сделана до 20 июля.

		p.margin-top Связаться с нами можно через <a href="mailto:info@trailruncamp.pl">электронную почту</a>, <a href="tel:+48 534 472 533">телефон (+48 534 472 533)</a> или <a href="https://www.facebook.com/mountainrunningcamp/">в социальных сетях</a>.

		p Чтобы уже начать ощущать атмосферу в долине Шамони можете почитать <a href="http://vivaleto.blogspot.com/2014/09/ultra-trail-du-mont-blanc.html">отчет Виолы после забега на ССС</a>


		//- p Цель сборов - знакомство с маршрутами забегов <a href="http://utmbmontblanc.com/en/page/20/UTMB®.html">UTMB</a> и <a href="http://utmbmontblanc.com/en/page/21/CCC®.html">ССС</a> и подготовка к старту, конечно же участники сборов не обязаны участвовать в UTMB =)

		//- p Мы предлагаем транспорт из Варшавы, также можем встретить организованную группу в аэропорту в Гренобле или в Женеве. В дороге из Варшавы и обратно запланирована познавательная и развлекательная программа, ночевка в комфортных условиях.

		//- p Проживание и питание в доме в долине Шамони-Монблан.
	
	include _subscribe_ru.pug

block footer_link
	include _footer_link_ru.pug